@model IEnumerable<FamilyTree.Data.BEANS.relaBEAN>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.relationshipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relativeID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.relationshipTypeID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.relativeRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationshipStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationshipEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notableInformation)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.familyID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placeOfBirth)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.relationshipType)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.relationshipID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relativeID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.relationshipTypeID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.relativeRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relationshipStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relationshipEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notableInformation)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.familyID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.placeOfBirth)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.relationshipType)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
