@model IEnumerable<FamilyTree.Data.Individual>

@{
    ViewBag.Title = "GetIndividuals";
}

<h2>Your Family Members</h2>

<p>
    @Html.ActionLink("Add New Family Member Record", "AddIndividual")@*WORK OUT HOW TO PASS familyID HERE*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placeOfBirth)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.placeOfBirth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.individualID }) |
            @Html.ActionLink("Delete", "DeleteIndividual", new { pid = item.individualID , controller="Family"}) |
            @Html.ActionLink("Add New Family Member Record", "AddIndividual", new { fid = item.familyID })


        </td>
    </tr>
}
   
</table>
@{Html.RenderAction("_GetRelationships", "Family");}