@model IEnumerable<FamilyTree.Data.BEANS.relaBEAN>

<p>
    @Html.ActionLink("Add New Relative", "AddRelative", new { pid = ViewBag.personID, fid = ViewBag.familyID, controller = "FamilyAdmin" })
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.relationshipStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationshipEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notableInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.relationshipStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relationshipEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notableInformation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleDescription)
        </td>
        <td>
            @Html.ActionLink("Edit Relative", "EditRelative", new { rid = item.relationshipID , controller= "FamilyAdmin"  }) |
            @Html.ActionLink("Remove Relative", "DeleteRelative", new { rid = item.relationshipID , controller = "Family"})
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Individuals", "GetIndividuals", new { controller="Family", fid = ViewBag.familyID}) <br />
    @Html.ActionLink("Plot your Tree!", "PlotOne", new { controller = "Plotting", fid = ViewBag.familyID });
</p>
